<nav>
  <div class="navbar-left">
    <a
      class="home"
      routerLink=""
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Accueil</a
    >
  </div>
  <div class="navbar-right">
    <a
      class="button"
      routerLink="/signin"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Sign In</a
    >
    <a
      class="button"
      routerLink="/signup"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Sign Up</a
    >
  </div>
</nav>
<div class="signin-container">
  <h2>Sign In</h2>
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign In</button>
  </form>
</div>
