<nav>
  <div class="navbar-left">
  </div>
  <div class="navbar-right">
    <a class="button"><i class="fas fa-cog"></i> Settings</a>
    <a class="button" href="/signin"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
</nav>

<div class="addTask-container">
  <h2>Add New Task</h2>
  <form class="addTask-form">
    <label for="taskInput"> Task:</label>
    <input
      type="text"
      id="taskName"
      class="taskInput"
      placeholder="What You Have ToDo..."
    />
    <label for="taskInput"> Task Description:</label>
    <textarea
      id="taskInput"
      class="taskInput"
      placeholder="Enter task description..."
      ></textarea>
    <label for="taskDate"> Creation Date:</label>
    <input type="date" id="taskDate" class="taskInput" />
    <label> <input type="checkbox" class="taskCheckbox" /> Completed</label>
    <button type="button" class="addTaskButton">Add Task</button>
  </form>
</div>
