.signup-container {
  background-color: rgba(238, 238, 238, 0.11); /* Set the background color with transparency */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-top: 20vh;
  backdrop-filter: blur(10px); /* Apply a blur effect */
}

.signup-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #000000;
  width: 100%;
}

.signup-container label {
  margin-bottom: 15px;
}

.signup-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.24);

}

.signup-container button {
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.signup-container button:hover {
  background-color: #fdfdfdb4;
  color:black;
}
