<div class="editTask-container">
  <h2>Edit Task</h2>
  <form class="editTask-form">
    <label for="taskName">Task:</label>
    <input
      type="text"
      id="taskName"
      class="taskInput"
    />
    <label for="taskDescription">Task Description:</label>
    <textarea
      id="taskDescription"
      class="taskInput"
      placeholder="Enter task description..."
    ></textarea>
    <label for="taskDate">Modifiaction Date:</label>
    <label>
      <input type="checkbox" class="taskCheckbox" />
      Completed
    </label>
    <input type="date" id="taskDate" class="taskInput" />
    <button type="button" class="editTaskButton">Save Changes</button>
  </form>
</div>
