<div class="todolist-container">
  <h2>Welcome, Your Tasks List</h2>
  <ul id="taskList">
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>Make Presentations for class projects</span>
    </li>
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>ToDoList Project (DRF)</span>
    </li>
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>mytask1</span>
    </li>
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>mytask2</span>
    </li>

    <!-- Ajoutez d'autres éléments li pour chaque tâche -->
  </ul>
  <div class="actionButtons">
    <button class="addButton" routerLink="addtask" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Add</button>
    <button class="editButton" routerLink="updatetask" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Edit</button>
    <button class="deleteButton">Remove</button>
  </div>
</div>
