<nav>
  <div class="navbar-left">
  </div>
  <div class="navbar-right">
    <a class="button"><i class="fas fa-archive"></i> Archived</a>
    <a class="button"><i class="fas fa-cog"></i> Settings</a>
    <a class="button" href="/signin"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
</nav>

<div class="todolist-container">
  <h2><i class="fas fa-star"></i> Welcome, Your Task List !</h2>
  <ul id="taskList">
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>Make Presentations for class projects</span>
      <span class="taskStatus">(not completed)</span>
    </li>
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>ToDoList Project (DRF)</span>
      <span class="taskStatus">(not completed)</span>
    </li>
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>mytask1</span>
      <span class="taskStatus">(not completed)</span>
    </li>
    <li class="taskItem">
      <input type="checkbox" class="taskCheckbox" />
      <span>mytask2</span>
      <span class="taskStatus">(not completed)</span>
    </li>

    <!-- Ajoutez d'autres éléments li pour chaque tâche -->
  </ul>
  <div class="actionButtons">
    <button class="addButton" href ="/add"><i class="fas fa-plus"></i> Add</button>
    <button class="editButton" href ="/edit"><i class="fas fa-pencil-alt"></i> Edit</button>
    <button class="deleteButton"><i class="fas fa-trash-alt"></i> Remove</button>
  </div>
</div>
