<nav>
  <div class="navbar-left">
    <a
      class="home"
      routerLink="/homepage"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Accueil</a
    >
  </div>
  <div class="navbar-right">
    <a
      class="button"
      routerLink="/signin"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Sign In</a
    >
    <a
      class="button"
      routerLink="/signup"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      >Sign Up</a
    >
  </div>
</nav>
<section class="welcomesection">
</section>
