body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  color: #c04343;
  border: 1px solid #c04343;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: #c04343;
  color: #fff;
}

a.activebutton {
  background-color: #c04343;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
}

router-outlet {
  margin-top: 20px;
}

.welcomesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c04343;
  color: #fff;
  padding: 20px;
  height: 100vh;
}
