<nav>
  <div class="navbar-left">
    <a class="button" routerLink="" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><i class="fas fa-home"></i> Home</a>
  </div>
  <div class="navbar-right">
    <a class="button" routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><i class="fas fa-sign-in-alt"></i> Login</a>
    <a class="button" routerLink="/signup" routerLinkActive="activebutton" ariaCurrentWhenActive="page" ><i class="fas fa-sign-in-alt"></i> Register</a>
  </div>
</nav>

<section class="home">
  <div class="homecontent">
    <h1>ToDoList</h1>
    <p>Elevate Your Productivity: <br> Unleash the Power of Perfectly Planned Days!</p>
    <a class="button" routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page"><i class="fas fa-play-circle"></i> Try Now !</a>
    &nbsp;
    <a class="button"><i class="fas fa-bullhorn"></i> What's New ?</a>
  </div>
</section>
