footer {
  text-align: center;
  padding: #ffffff;
  background: none;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 8px;
  margin-bottom: 20px;
}
footer a:hover {
  background-color: #000;
  color: #ffffff;
}

footer a.activebutton {
  background-color: #000;
  color: #ffffff;
}

.copyright {
  text-align: right;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  padding-right: 10px;
}
