<nav>
  <div class="navbar-left">
    <a class="home" routerLink="/homepage" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
  </div>
  <div class="navbar-right">
    <a class="button" routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Sign In</a>
    <a class="button" routerLink="/signup" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Sign Up</a>
  </div>
</nav>

<footer>
  <a href="https://github.com/soufianelaaroussi" target="_blank"
    ><i class="fab fa-github"></i
  ></a>
  <a href="X" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
</footer>
